{
  "$schema": "https://raw.githubusercontent.com/bohdan-shulha/conqr/main/conqr.schema.json",
  "defaultGroup": "services",
  "commands": {
    "api": { "command": "npm run api", "group": "services" },
    "ssr": { "command": "npm run ssr", "group": "services" },
    "Worker": {
      "command": "npm run worker",
      "group": "services",
      "restart": {
        "policy": "on-error",
        "delay": 2000
      }
    },
    "Build": { "command": "npm run build", "group": "build" }
  }
}
